$small: 300px;
$medium: 900px;

@media screen and (min-width: $small) and (max-width: $medium) {
  .app-genre {
    font-family: sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 25vh!important;
    max-height: 25vh!important;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-left: 10px;
    .list-container {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      
      /* Removed: */
      /* flex: 1 0 auto; */
      
      /* Added: */
      flex: 1;
      overflow-y: auto;
  
      gap: 10px;
      margin-top: 20px;
      .checkList{
        flex: 1 0 auto;
      }
    }
  

    .header-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1;
      height: 30%;
      width: 100%;
      min-width: 100%;

      .title-genre {
        font-size: 22px;

        width: 100%;
        min-width: 100%;
      }

      .filter-button {
        padding: 0 12px;
        height: 32px;
        text-align: center;
        margin: auto 4px;
        color: rgba(255, 255, 255, 0.87);
        display: flex;
        box-sizing: border-box;
        align-items: center;
        letter-spacing: 0.01071em;
        border-radius: 16px;
        line-height: 1.43;
        font-size: 11px;
        font-weight: bold;
        min-width: 40%;
        width: 40%;
      }
    }

  }



}



.app-genre {
    font-family: sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 70vh;
    max-height: 70vh;
    width: 25%;
    max-width: 25%;
    margin-left: 10px;
    .header-container{
      display: flex;
      flex-direction: row;

      height: 10%;
      min-height: 10%;
      width: 100%;
      max-width: 100%;
      .title-genre {
        font-size: 22px;
        margin-bottom: 10px;
        width: 30%;
        min-width: 30%;
        justify-self: center;
        align-self: center;
      }
      .filter-button{
        padding: 0 12px;
        height: 32px;
        text-align: center;
        margin: auto 4px;
        color: rgba(255, 255, 255, 0.87);
        display: flex;
        box-sizing: border-box;
        align-items: center;
        letter-spacing: 0.01071em;
        border-radius: 10px;
        line-height: 1.43;
        font-size: 11px;
        font-weight: bold;
        min-width: 30%;
        width: 30%;
      }
    }
    .list-container {
      display: flex;
      flex-direction: column;
      
      /* Removed: */
      /* flex: 1 0 auto; */
      
      /* Added: */
      flex: 1;
      overflow-y: auto;
  
      gap: 30px;
      .checkList{
        flex: 1 0 auto;
      }
    }
  }
  
 
  
  .checked-item,
  .not-checked-item {
    margin-left: 10px;
  }
  .checked-item {
    text-decoration: line-through;
  }

